*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.cache
.cipd
.clangd
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/base
/build
/buildtools
/chromium/.gclient.tmp
/chromium/.gclient.tmp_entries
/chromium/.last_sync_chromium
/chromium/_bad_scm
/chromium/src
/gyp-mac-tool
/links
/links.db
/out-32
/out-64
/libs
/mojo
/out
/resources/**/*.aecdump
/resources/**/*.bin
/resources/**/*.byte
/resources/**/*.chn
/resources/**/*.dat
/resources/**/*.frames
/resources/**/*.gai
/resources/**/*.jpg
/resources/**/*.pcap
/resources/**/*.pcm
/resources/**/*.rtp
/resources/**/*.rtpdump
/resources/**/*.rx
/resources/**/*.wav
/resources/**/*.yuv
/resources/**/*.BIT*
/resources/**/*.INP
/resources/**/*.OUT*
/testing
/tools/android
/tools/clang
/tools/determinism
/tools/generate_library_loader
/tools/generate_stubs
/tools/gn
/tools/grit
/tools/gyp
/tools/isolate_driver.py
/tools/luci-go
/tools/memory
/tools/ninja
/tools/protoc_wrapper
/tools/python
/tools/sanitizer_options
/tools/swarming_client
/tools/telemetry
/tools/tsan_suppressions
/tools/valgrind
/tools/video_quality_toolchain/linux/ffmpeg
/tools/video_quality_toolchain/linux/zxing
/tools/video_quality_toolchain/mac/ffmpeg
/tools/video_quality_toolchain/mac/zxing
/tools/video_quality_toolchain/win/*.dll
/tools/video_quality_toolchain/win/*.exe
/tools/vim
/tools/win
/tools/xdisplaycheck
/tools/whitespace.txt
/third_party
/tools
/tools_webrtc/android/profiling/flamegraph
/tools_webrtc/android/profiling/simpleperf
/tools_webrtc/audio_quality/linux/pesq
/tools_webrtc/audio_quality/linux/PolqaOem64
/tools_webrtc/audio_quality/mac/pesq
/tools_webrtc/audio_quality/win/*.exe
/tools_webrtc/audio_quality/win/*.dll
/tools_webrtc/video_quality_toolchain/linux/ffmpeg
/tools_webrtc/video_quality_toolchain/linux/zxing
/tools_webrtc/video_quality_toolchain/mac/ffmpeg
/tools_webrtc/video_quality_toolchain/mac/zxing
/tools_webrtc/video_quality_toolchain/win/*.dll
/tools_webrtc/video_quality_toolchain/win/*.exe
/rtc_tools/testing/*.zip
/rtc_tools/testing/*.gz
/rtc_tools/testing/golang/*/*.gz
/rtc_tools/testing/golang/*/*.zip
/rtc_tools/testing/webrtc_apprtc_browsertest/*
/rtc_tools/testing/browsertest/*
/x86-generic_out/
/xcodebuild
/.vscode
!webrtc/*
